/*Remove default body styling*/
body {
    margin: 0;
    padding: 0;
    border: 0;
}

/*styling for main page content*/
container.main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*code for header*/
header {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
}
header > ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-right: 48px;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}
header > p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #F9FAF8;
    padding: 10px 0px;
    padding-left: 64px;
    margin-top: 0px;
    margin-bottom: 0px;
}
a {
    color: #9398a0;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.main-content div {
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
}

div.div1 {
    background-color: #1F2937;
    display: flex;
    gap: 10px;
}
div.div2 {
    background-color: white;
}
div.div3 {
    background-color: #E5E7EB;
}
div.div4 {
    background-color: white;
}

section.left-main {
    color: white;
    flex-basis: 40%;
    height: 55%;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
section.right-main {
    background-color: gray;
    flex-basis: 400px;
    height: 55%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.article {
    color: #9398a0;
}
.main-head {
    font-size: 48px;
    margin: 0px;
}