/*Remove default body styling*/
body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #E5E7EB;
}

/*styling for main page content*/
container.main-content {
    display: flex;
    flex-direction: column;
}

/*code for header*/
header {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    padding-top: 5px;
}
header > ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-right: 48px;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}
header > p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #F9FAF8;
    padding: 10px 0px;
    padding-left: 64px;
    margin-top: 0px;
    margin-bottom: 0px;
}
a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
a.head-links {
    color: #9398a0;
}

.main-content div {
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
}

/* div 1 styling*/
div.div1 {
    background-color: #1F2937;
    display: flex;
    align-items: stretch;
    gap: 10px;
    padding: 25px 0px 35px 0px;
}
div.div2 {
    background-color: white;
    padding-bottom: 20px;
}
p.signup {
    width: 100px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: #3882F6;
    color: white;
    border: 1px solid #3882F6;
    border-radius: 5px;
}

section.left-main {
    color: white;
    flex-basis: 40%;
    height: 60%;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
section.right-main {
    background-color: gray;
    flex-basis: 400px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.article {
    color: #9398a0;
}
.main-head {
    font-size: 32px;
    margin: 0px;
}

/*div 2 styling*/
.div2 > p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 24px;
    margin: 0;
    margin-top: 25px;
}

div.info-container {
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 35px 25px 0px 25px;
}
div.info-child {
    display: flex;
    justify-content: center;
    align-content: center;
    width: auto;
    flex-direction: column;
}
div.image {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 25px;
}
p.info {
    padding-top: 5px;
    width: 75%;
    color: #9398a0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

/*div 3 styling*/
div.div3 {
    background-color: #E5E7EB;
    text-align: left;
    width: 70%;
    margin: auto;
    padding: 35px 0px 45px 0px;
    position: relative;
}
p.quote {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    color: #1F2937;
    font-style: italic;
}
p.signature {
    position: absolute;
    bottom: 20px;
    right: 60px;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
}