/*Remove default body styling*/
body {
    margin: 0;
    padding: 0;
    border: 0;
}

container.main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
}
header > ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin-right: 15px;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}
header > p {
    font-family: 'Roboto';
    font-size: 24px;
    color: #F9FAF8;
    padding: 10px 0;
    padding-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}
a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto';
}

.main-content div {
    flex: 1 1 auto;
}

div.div1 {
    background-color: #1F2937;
}
div.div2 {
    background-color: white;
}
div.div3 {
    background-color: #E5E7EB;
}
div.div4 {
    background-color: white;
}