/*Remove default body styling*/
body {
    margin: 0;
    padding: 0;
    border: 0;
}

container.main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
}
header > ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin-right: 48px;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}
header > p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #F9FAF8;
    padding: 10px 0px;
    padding-left: 64px;
    margin-top: 0px;
    margin-bottom: 0px;
}
a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.main-content div {
    flex: 1 1 auto;
}

div.div1 {
    background-color: #1F2937;
    display: flex;
    width: 100vw;
}
div.div2 {
    background-color: white;
}
div.div3 {
    background-color: #E5E7EB;
}
div.div4 {
    background-color: white;
}

section.left-main {
    color: white;
    width: 100%;
    flex: 1 1 auto;
}
section.right-main {
    background-color: gray;
    width: 100%;
    flex: 1 1 auto;
}