body {
    margin: 0;
    padding: 0;
    border: 0;
}
container.main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content div {
    flex: 1 1 auto;
}

div.div1 {
    background-color: red;
}
div.div2 {
    background-color: orange;
}
div.div3 {
    background-color: yellow;
}
div.div4 {
    background-color: green;
}